<p id="notice"><%= notice %></p>

<h1>Dialplans</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dialplans.each do |dialplan| %>
      <tr>
        <td><%= dialplan.title %></td>
        <td><%= dialplan.name %></td>
        <td><%= link_to 'Show', dialplan %></td>
        <td><%= link_to 'Edit', edit_dialplan_path(dialplan) %></td>
        <td><%= link_to 'Destroy', dialplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dialplan', new_dialplan_path %>
