<div class="column col-8 col-mx-auto bg-gray">

<% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-success") %>
      <% end %>
      

<div class="text-center">
  <h1>Статистика звонков</h1>
</div>




<%= link_to "Выгрузить в CSV", cdr_index_path(:format => :csv), :class => "btn" %>

<br>
<br>

<%= link_to "Удалить всё", help_cdr_destroy_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn btn-primary" %>

<br>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Дата вызова</th>
      <th>Время вызова</th>
      <th>Телефон</th>
      <th>Статус</th>
    </tr>
  </thead>

  <tbody>
    <% @cdr.each do |cdr| %>
      <tr>
        <td><%= cdr.shown_date_created_at %></td>
        <td><%= cdr.shown_time_created_at %></td>
        <td><%= cdr.userfield %></td>
        <td><%= cdr.disposition %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Выгрузить в CSV", cdr_index_path(:format => :csv), :class => "btn" %>

<br>
<br>
<br>

<%= link_to "Удалить всё", help_cdr_destroy_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn btn-primary" %>

</div>