
<div class="column col-6 col-mx-auto bg-gray">
	
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-error") %>
      <% end %>
    


<% provide(:title, "Авторизация") %>

<div class="text-center">
<h1>Авторизация</h1>
</div>




    <%= form_for(:session, url: login_path) do |f| %>


    <div class="form-group">
      <%= f.label "Пароль доступа", class: "form-label" %>
      <%= f.password_field :password, class: 'form-input' %>
		<div class="mt-2 text-center">
		      <%= f.submit "Авторизация", class: "btn btn-primary" %>

		</div>
	</div>


    <% end %>

   

  </div>

