<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Имя:", class: "form-label" %>
    <%= form.text_field :name, id: :employee_name, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label "Пароль:", class: "form-label" %>
    <%= form.text_field :password, id: :employee_password, class: "form-input" %>
  </div>

  <div class="form-group">
        <%= form.label "Статус:", class: "form-label" %>
        <%= form.select(:status, options_for_select([['Активен', 1], ['Приостановлен', 2]], @employee.status), {}, {:class => 'form-input',  id: "employee_status"} ) %>
  </div>

   <div class="field">
    	<%= form.label "Внутренний номер:", class: "form-label" %>
    	<%= form.select :sipaccount_id, options_for_select(Sipaccount.all.collect { |p| [p.title, p.id] }, form.object.sipaccount_id), {}, {:class => 'form-input',  id: "employee_sipaccount"} %>
   </div>

    <div>
      <%= form.label "Обрабатывать лидов во внутреннем личном кабинете: ", class: "form-label"  %>
      <%= form.check_box :is_support_call, id: :employee_is_support_call %>
    </div>

  <div class="mt-2 text-center">
    <%= form.submit  "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
