
  
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-success") %>
      <% end %>


<%= form_with(model: outgoing, local: true, multipart: true) do |form| %>
  <% if outgoing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outgoing.errors.count, "error") %> prohibited this task from being saved:</h2>

      
      <% outgoing.errors.full_messages.each do |message| %>
        

        <%= content_tag(:div, message, class: "toast toast-error") %>

      <% end %>
      
    </div>
  <% end %>




  <div class="field">
    <%= form.label "Файл абонентов:", class: "form-label" %>
    <%= form.file_field :csv_upload, class: 'form-input' %>
  </div>
  <div class="mt-2 text-center">
      <%= form.submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>

