
<div class="column col-10 col-mx-auto bg-gray">

 <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-success") %>
      <% end %>

<div class="text-center">
	<h1>База исходящих вызовов</h1>
</div>


<table>
  <tbody>
      
      <tr>
        <td>Количество номеров в очереде:</td>
        <td><%= @outgoings_count %></td>
        <td><%= link_to 'Очистить', :action => :outgoing_destroy_all, :controller => :help %></td>
      </tr>

  </tbody>
</table>

<br>


<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Дата</th>
			<th>Время</th>
			<th>Номер</th>
			<th>Статус</th>
			<th>Попытка</th>
		</tr>
	</thead>
	<tbody>
	<% @outgoings.each do |outgoing| %>
		<tr>
			<td><%= outgoing.shown_date_created_at %> </td>
			<td><%= outgoing.shown_time_created_at %> </td>
			<td><%= outgoing.telephone %></td>
			<td><%= outgoing.status %></td>
			<td><%= outgoing.attempt_current %></td> 
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<div class="text-center"/>
	<%= link_to 'Добавить номера', new_outgoing_path, :class => "btn btn-primary" %>
</div>
</div>
