<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Наименование:" %>
    <%= form.text_field :title, id: :group_title %>
  </div>

  <div class="field">
    <%= form.label "Длительность вызова:", class: "form-label" %>
    <%= form.number_field :waittime, id: :group_waittime, class: "form-input"  %>
  </div>

  <div class="field">
    <%= form.label "Интервал пополнения очереди:", class: "form-label" %>
    <%= form.number_field :sleeptime, id: :group_sleeptime, class: "form-input"  %>
  </div> 

  <div class="field">
    <%= form.label "Количество вызовов для пополнения очереди:", class: "form-label" %>
    <%= form.number_field :callcount, id: :group_callcount, class: "form-input"  %>
  </div>

  <div class="field">
    <%= form.label "Максимальное количество вызовов в очереди:", class: "form-label" %>
    <%= form.number_field :callmax, id: :group_callmax, class: "form-input"  %>
  </div> 


  <div class="field">
    <%= form.label "Активное состояние:", class: "form-checkbox" %>
    <%= form.check_box :is_enabled, id: :group_enabled  %>
  </div>
  

  <div class="form-group">
    <%= form.label "Рабочие каналы:", :class => "col-sm-3 control-label" %>
    <div class="col-sm-9">
        <%= form.collection_check_boxes :trank_ids, Trank.all, :id, :name, :class=>"form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
