<%= form_with(model: lead, local: true) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :lead_phone %>
  </div>

  <div class="field">
    <%= form.label :dialer_status %>
    <%= form.text_field :dialer_status, id: :lead_dialer_status %>
  </div>

  <div class="field">
    <%= form.label :dialer_attempt %>
    <%= form.number_field :dialer_attempt, id: :lead_dialer_attempt %>
  </div>

  <div class="field">
    <%= form.label :is_offer_accepted %>
    <%= form.check_box :is_offer_accepted, id: :lead_is_offer_accepted %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
