<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @lead.phone %>
</p>

<p>
  <strong>Dialer status:</strong>
  <%= @lead.dialer_status %>
</p>

<p>
  <strong>Dialer attempt:</strong>
  <%= @lead.dialer_attempt %>
</p>

<p>
  <strong>Is offer accepted:</strong>
  <%= @lead.is_offer_accepted %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
