<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label "Час начало работы:" %>
    <%= form.number_field :hour_bgn, id: :setting_hour_bgn %>
  </div>

  <div class="field">
    <%= form.label "Час завершения работы:" %>
    <%= form.number_field :hour_end, id: :setting_hour_end %>
  </div>
  

  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
