
 <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-success") %>
      <% end %>


<%= form_with(model: setting, local: true, multipart: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        
        <%= content_tag(:div, message, class: "toast toast-error") %>

      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label "Час начало работы:", class: "form-label" %>
    <%= form.number_field :hour_bgn, id: :setting_hour_bgn, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label "Час завершения работы:", class: "form-label" %>
    <%= form.number_field :hour_end, id: :setting_hour_end, class: "form-input" %>
  </div>
  

  <div class="field">
    <%= form.label "Максимальное количество попыток на повторный звонок:", class: "form-label" %>
    <%= form.number_field :attempt_max_count, id: :setting_attempt_max_count, class: "form-input" %>
  </div>


  <div class="field">
    <%= form.label "Интервал между попыками в мин:", class: "form-label" %>
    <%= form.number_field :attempt_interval, id: :setting_atempt_interval, class: "form-input" %>
  </div>

  <div class="field">
      <%= form.label "Наименование Google Drive документа:", class: "form-label"  %>
      <%= form.text_field :google_title, id: :setting_google_title, class: "form-input" %>
  </div>

  <div class="field">
      <%= form.label "Файл закрытого ключа:", class: "form-label"  %>
      <%= form.file_field :google_private_key, id: :setting_google_private_key, class: "form-input" %>
  </div>

<div class="mt-2 text-center">
    <%= form.submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
