
 <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-success") %>
      <% end %>


<%= form_with(model: setting, local: true, multipart: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        
        <%= content_tag(:div, message, class: "toast toast-error") %>

      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Заголовок:", class: "form-label" %>
    <%= form.text_field :title, id: :setting_title, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label "Час начало работы:", class: "form-label" %>
    <%= form.number_field :hour_bgn, id: :setting_hour_bgn, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label "Час завершения работы:", class: "form-label" %>
    <%= form.number_field :hour_end, id: :setting_hour_end, class: "form-input" %>
  </div>


  <% if @config.is_outgoing_deleted == false %> 

  <div class="field">
    <%= form.label "Максимальное количество попыток на повторный звонок:", class: "form-label" %>
    <%= form.number_field :attempt_max_count, id: :setting_attempt_max_count, class: "form-input" %>
  </div>


  <div class="field">
    <%= form.label "Интервал между попыками в мин:", class: "form-label" %>
    <%= form.number_field :attempt_interval, id: :setting_atempt_interval, class: "form-input" %>
  </div>

  <% end %>

  <div class="field">
    <%= form.label "Каталог исходящих вызовов:", class: "form-label" %>
    <%= form.text_field :outgoing, id: :outgoing, class: "form-input" %>
  </div>

   <div class="field">
     <%= form.label "Службы генерации обзвона:", class: "form-label" %>
     <%= form.select :dialtype, options_for_select([["Синхронная (первоначальный вариант)", 1], ["Асинхронная (обновленный вариант)", 2]], form.object.dialtype), {}, {:class =>"form-input"} %>
   </div>

  <% if @config.is_google_integrated %>

  <div class="field">
      <%= form.label "Наименование Google Drive документа:", class: "form-label"  %>
      <%= form.text_field :google_title, id: :setting_google_title, class: "form-input" %>
  </div>

  <div class="field">
      <%= form.label "Файл закрытого ключа:", class: "form-label"  %>
      <%= form.file_field :google_private_key, id: :setting_google_private_key, class: "form-input" %>
  </div>

  <% end %>

   <div class="field">
     <%= form.label "Номер оператора для соединения:", class: "form-label"  %>
     <%= form.text_field :leadback_phone, id: :setting_leadback_phone, class: "form-input" %>
   </div>

   <% if (Config.first.is_support_employee) %>
     <div class="field">
       <%= form.label "Увеличивать очередь при входе сотрудника:", class: "form-label"  %>
       <%= form.number_field :call_delta, id: :setting_call_delta, class: "form-input" %>
     </div>

     <div class="field">
       <%= form.label "Активировать количество транков при входе сотрудника:", class: "form-label"  %>
       <%= form.number_field :trunk_active_count, id: :trunk_active_count, class: "form-input" %>
     </div>

     <div>
       <%= form.label "Включить режим автоматической смены длины очереди: ", class: "form-label"  %>
       <%= form.check_box :is_support_call_delta, id: :config_is_support_call_delta %>
     </div>

     <div>
       <%= form.label "Включить режим определения автоответчиков: ", class: "form-label"  %>
       <%= form.check_box :is_support_amd, id: :config_is_support_amd%>
     </div>

   <% end %>

<div class="mt-2 text-center">
    <%= form.submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
