<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Максимальное количество вызовов:" %>
    <%= form.number_field :callcount, id: :setting_callcount %>
  </div>

  <div class="field">
    <%= form.label "Рабочие каналы:" %>
    <%= form.text_area :sipnames, id: :setting_sipnames %>
  </div>
  
  <div class="field">
    <%= form.label "Текущее количестов вызовов:" %>
    <%= form.number_field :currentcount %>
  </div>
  
  <div class="field">
    <%= form.label "Время на обработку (сек):" %>
    <%= form.number_field :sleep %>
  </div>

 <div class="field">
   <%= form.label "Время длительности вызова (сек) " %>
   <%= form.number_field :waittime %>
 </div> 

  <div class="field">
    <%= form.label "Директория исходящих вызовов:" %>
    <%= form.text_field :outgoing %>
  </div>
  
  <div class="filed">
    <%= form.label "Активное состояние:" %>
    <%= form.check_box :is_enabled %>
  </div>
  
  

  <div class="actions">
    <%= form.submit "Сохранить" %>
  </div>
<% end %>
