<p id="notice"><%= notice %></p>

<p>
  <strong>Лимит исходящих:</strong>
  <%= @setting.callcount %>
</p>

<p>
  <strong>Каналы вызовов:</strong>
  <%= @setting.sipnames %>
</p>


<p>
  <strong>Каталог исходящих:</strong>
  <%= @setting.outgoing %>
</p>

<p>
  <strong>Количество исходящих:</strong>
  <%= @setting.currentcount %>
</p>

<%= link_to 'Edit', edit_setting_path(Setting.first) %> |
<%= link_to 'Back', root_path %>
