
<div class="column col-8 col-mx-auto bg-gray">

<% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-success") %>
      <% end %>
      

<div class="text-center">
  <h1>Ответы</h1>
</div>

<%= link_to "Выгрузить в CSV", answers_path(:format => :csv), :class => "btn" %>

<br>
<br>

<%= link_to "Удалить все", help_answers_destroy_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn btn-primary" %>


<br>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Дата создания</th>
      <th>Время создания</th>
      <th>Телефон</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.shown_date_created_at %></td>
        <td><%= answer.shown_time_created_at %></td>
        <td><%= answer.contact %></td>
        <td><%= link_to 'Удалить', answer, method: :delete, data: { confirm: 'Подтвердить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Выгрузить в CSV", answers_path(:format => :csv), :class => "btn" %>

<br>
<br>
<br>

<%= link_to "Удалить все", help_answers_destroy_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn btn-primary" %>

<br>

</div>