
<div class="column col-8 col-mx-auto bg-gray">

<% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-success") %>
      <% end %>
      
<div class="text-center">
  <h1>Статистика звонков</h1>
</div>

<table class="table table-bordered">

    <thead>
        <tr>
           <th></th>
           <% Trank.all.each do |trunk| %>
             <th><%= trunk.name %></th>
           <% end %>
	   <th>Итого:</th>
        </tr>
    </thead>

    <tbody>
      <tr>
	<td>Кол-во обработанных номеров:</td>
        <% Trank.all.each do |trunk| %>
             <td><%= trunk.outgoing_total_count %></td>
           <% end %>
           <td><%= Outgoing.total_count %></td>
       </tr>
      
      <tr>
        <td>Кол-во откликов:</td>
        <% Trank.all.each do |trunk| %>
             <td><%= trunk.answer_total_count %></td>
           <% end %>
	   <td><%= Outgoing.answer_total_count %></td>
       </tr>


      <tr>
        <td>Процент от обработанных:</td>
        <% Trank.all.each do |trunk| %>
             <td><%= trunk.outgoing_precent %></td>
           <% end %>
	   <td><%= Outgoing.outgoing_precent %></td>
       </tr>


      <tr>
        <td>Кол-во отвеченных:</td>
        <% Trank.all.each do |trunk| %>
             <td><%= trunk.outgoing_answer_total_count %></td>
           <% end %>
           <td><%= Outgoing.outgoing_answer_total_count %></td>
       </tr>


      <tr>
        <td>Процент от отвеченных:</td>
        <% Trank.all.each do |trunk| %>
             <td><%= trunk.outgoing_answer_precent %></td>
           <% end %>
           <td><%= Outgoing.outgoing_answer_precent %></td>
       </tr>


    </tbody>

</table>


<div class="text-center">
  <h1>Ответы</h1>
</div>


<%= link_to "Таблица google для просмотра откликов", "https://docs.google.com/spreadsheets/d/1kV7xi1803q8uKbz8tcaOXAxfG_fxnksPsJCsaBGGUNo/edit#gid=98750265", {:target => "_blank"} %>

<br>

<br>

<%= link_to "Выгрузить в CSV", answers_path(:format => :csv), :class => "btn" %>

<br>
<br>

<%= link_to "Удалить все", help_answers_destroy_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn btn-primary" %>


<br>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Дата создания</th>
      <th>Время создания</th>
      <th>Телефон</th>
      <th>Рабочий канал</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.shown_date_created_at %></td>
        <td><%= answer.shown_time_created_at %></td>
        <td><%= answer.contact %></td>
        <td><%= answer.trank_name %></td>
        <td><%= link_to 'Удалить', answer, method: :delete, data: { confirm: 'Подтвердить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Выгрузить в CSV", answers_path(:format => :csv), :class => "btn" %>

<br>
<br>
<br>

<%= link_to "Удалить все", help_answers_destroy_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn btn-primary" %>

<br>

</div>
