<%= form_with(model: sip, local: true) do |form| %>
  <% if sip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sip.errors.count, "error") %> prohibited this sip from being saved:</h2>

      <ul>
      <% sip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :conf %>
    <%= form.text_area :conf, id: :sip_conf %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
