<p id="notice"><%= notice %></p>

<h1>Sips</h1>

<table>
  <thead>
    <tr>
      <th>Conf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sips.each do |sip| %>
      <tr>
        <td><%= sip.conf %></td>
        <td><%= link_to 'Show', sip %></td>
        <td><%= link_to 'Edit', edit_sip_path(sip) %></td>
        <td><%= link_to 'Destroy', sip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sip', new_sip_path %>
