
<%= form_with(model: sipaccount, local: true) do |form| %>
  <% if sipaccount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sipaccount.errors.count, "error") %> prohibited this sipaccount from being saved:</h2>

      <ul>
      <% sipaccount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Внутренний номер:", class: "form-label" %>
    <%= form.text_field :number, id: :sipaccount_number, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label "Пароль:", class: "form-label" %>
    <%= form.text_field :password, id: :sipaccount_password, class: "form-input" %>
  </div>

  <div class="mt-2 text-center">
    <%= form.submit "Сохранить", class: "btn btn-primary" %>
  </div>
<% end %>
