<div class="column col-6 col-mx-auto bg-gray">

<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @sipaccount.number %>
</p>

<p>
  <strong>Password:</strong>
  <%= @sipaccount.password %>
</p>

<%= link_to 'Редактировать', edit_sipaccount_path(@sipaccount) %> |
<%= link_to 'Назад', sipaccounts_path %>

</div>
