<p id="notice"><%= notice %></p>

<h1>Lead Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lead_statuses.each do |lead_status| %>
      <tr>
        <td><%= lead_status.image %></td>
        <td><%= lead_status.title %></td>
        <td><%= lead_status.name %></td>
        <td><%= link_to 'Show', lead_status %></td>
        <td><%= link_to 'Edit', edit_lead_status_path(lead_status) %></td>
        <td><%= link_to 'Destroy', lead_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead Status', new_lead_status_path %>
