<%= form_with(model: machine, local: true) do |form| %>
  <% if machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
      <% machine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone, id: :machine_telephone %>
  </div>

  <div class="field">
    <%= form.label :amdstatus %>
    <%= form.text_field :amdstatus, id: :machine_amdstatus %>
  </div>

  <div class="field">
    <%= form.label :amdcause %>
    <%= form.text_field :amdcause, id: :machine_amdcause %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
