<div class="column col-8 col-mx-auto bg-gray">

<% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-success") %>
      <% end %>

<div class="text-center">
  <h1>Рабочие каналы</h1>
</div>

<br>

<%= link_to "Активировать все каналы", help_trank_enable_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn btn-primary" %>
<%= link_to "Деактивировать все каналы", help_trank_disable_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn" %>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Исходящий номер</th>
      <th>Имя пользователя</th>
      <th>Пароль</th>
      <th>Префикс</th>
      <th>Время длительности вызова</th>
      <th>Максимальное количество вызовов</th>
      <th>Активное состояние</th>
      <% if @config.is_trank_context_showed or is_admin? %>
        <th>План вызова: </th>
      <% end %>
      <% if @config.is_vote_supported or is_admin? %>
        <th>Запись №01</th>
        <th>Запись №02</th>
        <th>Запись №03</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tranks.each do |trank| %>
      <tr class="<%= 'active' if trank.enabled == true %> "  >
        <td><%= trank.name %></td>
        <td><%= trank.callerid %></td>
        <td><%= trank.username %></td>
        <td><%= trank.password %></td>
        <td><%= trank.prefix %></td>
        <td><%= trank.waittime %></td>
        <td><%= trank.callmax %></td>
        <td><%= trank.enabled %></td>
        <% if @config.is_trank_context_showed or is_admin? %>
  	  <td><%= trank.dialplan.title if trank.dialplan != nil %></td>
        <% end %>
        <% if @config.is_vote_supported or is_admin? %>
          <td><%= trank.vote_welcome.title if trank.vote_welcome != nil %></td>
          <td><%= trank.vote_finish.title if trank.vote_finish != nil %></td>
          <td><%= trank.vote_push_two.title if trank.vote_push_two != nil %></td>
        <% end %>
        <td><%= link_to 'Показать', trank %></td>
        <td><%= link_to 'Редактировать', edit_trank_path(trank) %></td>
        <td><%= link_to 'Удалить', trank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Тестировать', '#', :class => "trank_test", :data => {:id => trank.id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {

    $(".trank_test").click(function() {
        
       $("#modal-id").addClass('active');
       $("#trank-id").val($(this).data("id"));

       return false;

    });  

    $("#btn-trank-test").click(function() {
       
        var id = $("#trank-id").val();
        var tel = $("#input-example-1").val();
 
        console.log(id);
	console.log(tel);

        $.get("/help/trank_check",
		{
			id: id,
			telephone: tel
		},
		function(data, status) { 
 		}
	)
	.done(function() {
	
		$("#modal-id").removeClass('active');

	});
        
    });

  });
</script>

<div class="modal" id="modal-id">
  <a href="#close" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
      <div class="modal-title h5">Проверка канала</div>
    </div>
    <div class="modal-body">
      <div class="content">
        <!-- content here -->
        <!-- form input control -->
<div class="form-group">
  <label class="form-label" for="input-example-1">Укажите номер телефона:</label>
  <input class="form-input" type="text" id="input-example-1" placeholder="Номер телефона">
  <input id="trank-id" type="text" hidden="true" >
</div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="btn-trank-test" class="btn btn-primary">Проверить</button>
    </div>
  </div>
</div>

<br>

<%= link_to 'Добавить', new_trank_path, :class => 'btn btn-primary' %>

</div>
