<div class="column col-8 col-mx-auto bg-gray">

<% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "toast toast-success") %>
      <% end %>

<div class="text-center">
  <h1>Рабочие каналы</h1>
</div>

<br>

<%= link_to "Активировать все каналы", help_trank_enable_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn btn-primary" %>
<%= link_to "Деактивировать все каналы", help_trank_disable_all_url, :data => { :confirm=>'Подтвердить операцию?' }, :class => "btn" %>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Наименование</th>
      <th>Исходящий номер</th>
      <th>Префикс</th>
      <th>Время длительности вызова</th>
      <th>Максимальное количество вызовов</th>
      <th>Активное состояние</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tranks.each do |trank| %>
      <tr>
        <td><%= trank.name %></td>
        <td><%= trank.callerid %></td>
        <td><%= trank.prefix %></td>
        <td><%= trank.waittime %></td>
        <td><%= trank.callcount %></td>
        <td><%= trank.enabled %></td>
        <td><%= link_to 'Показать', trank %></td>
        <td><%= link_to 'Редактировать', edit_trank_path(trank) %></td>
        <td><%= link_to 'Удалить', trank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Тестировать', {:action => :trank_check, :controller => :help, :id => trank.id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить', new_trank_path, :class => 'btn btn-primary' %>

</div>
