<div class="column col-6 col-mx-auto bg-gray">
<p>
  <strong>Наименование:</strong>
  <%= @trank.name %>
</p>

<p>
  <strong>Исходящий номер:</strong>
  <%= @trank.callerid %>
</p>

<p>
  <strong>Префикс:</strong>
  <%= @trank.prefix %>
</p>

<p>
  <strong>Длительность вызова:</strong>
  <%= @trank.waittime %>
</p>

<p>
  <strong>Максимальное количество вызовов:</strong>
  <%= @trank.callcount %>
</p>

<% if @config.is_trank_context_showed or is_admin? %>
<p>
   <strong>Контекст выполнения вызова:</strong>
  <%= @trank.context %>
</p>
<% end %>

<p>
  <strong>Активное состояние:</strong>
  <%= @trank.enabled %>
</p>

<p>
 <strong>План вызова:</strong>
 <%= @trank.dialplan.title if @trank.dialplan != nil%>
</p>

<%= link_to 'Редактировать', edit_trank_path(@trank) %> |
<%= link_to 'Назад', tranks_path %>

</div>
