<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Автообзвон", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
    	    <li>
    		<%= link_to "Добавить телефоны", new_outgoing_path %>
    	    </li>
    	    <li>
    		<%= link_to "Исходящие", outgoings_path %>
    	    </li>
	    <li>
	       <%= link_to "Настройки", edit_setting_path(Setting.first) %>
	    </li>
	    <li>
		<%= link_to "Выгрузить отчет", controller: :help, action: :cdr %>
	    </li>
              <li>                
                <%= link_to "Выход", logout_path, method: :delete %>
              </li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
