
<header class="navbar">
  <section class="navbar-section">
    <%= link_to Setting.first.title, root_path, { id: "logo", :class => "navbar-brand mr-2"}  %>
      <% if logged_in? %>
        <%= link_to "Добавить телефоны", new_outgoing_path, {:class => "btn btn-link"} %>
        <%= link_to "Исходящие", outgoings_path, {:class => "btn btn-link"} %>
	<% if Config.first.is_outgoing_deleted == false %>
        	<%= link_to "Отклики", answers_path, {:class => "btn btn-link"} %>
        	<%= link_to "Статистика", cdr_index_path, {:class => "btn btn-link"} %>
	<% end %>

	    <%= link_to "Автоответчик", machines_path, {:class => "btn btn-link"} %>
      
      <% if Config.first.is_vote_supported %>
		      <%= link_to "Записи", votes_path, {:class => "btn btn-link"} %>
      <% end %>
      <!--
      <%= link_to "Лиды", leads_path, {:class => "btn btn-link"} %>
      -->
    <% end %>
  </section>
  <section class="navbar-section">
    
  </section>

<% if logged_in? %>

  <section class="navbar-section">
	<% if Config.first.is_menu_service_showed %>
		
		 <div class="dropdown dropdown-right"><a class="btn btn-link dropdown-toggle" tabindex="0">Сервис <i class="icon icon-caret"></i></a>
                  <ul class="menu">
                    <li class="menu-item">
			<%= link_to "Выгрузить статистику", {:controller => :help, :action => :cdr},  {:class => "btn btn-link"}  %>
                      </li>
                    <li class="menu-item">
                      <%= link_to "Очистить статистику", {:controller => :help, :action => :cdr_clear}, {:class => "btn btn-link"} %>
                    </li>
                  </ul>
                </div>


	<% end %>
	<!-- basic dropdown button -->
        <div class="dropdown dropdown-right"><a class="btn btn-link dropdown-toggle" tabindex="0">Настройки <i class="icon icon-caret"></i></a>
                  <ul class="menu">
                    <li class="menu-item">
                        
                          <%= link_to "Рабочие каналы", tranks_path, {:class => "btn btn-link"} %>

                      </li>

                      <li class="menu-item">
                        
                          <%= link_to "Общие настройки", edit_setting_path(Setting.first), {:class => "btn btn-link"} %>

                      </li>
		
		    <li class="menu-item">
			<%= link_to 'Перегрузить', {:action => :asterisk_restart, :controller => :help}, {:class => "btn btn-link"} %>
 		    </li>
		    <% if is_admin? %>
		    	<li class="menu-item">
                       		<%= link_to 'Конфигурация приложения', edit_config_path(Config.first), {:class => "btn btn-link"} %>
                    	</li>
			<li class="menu-item">
				<%= link_to 'План вызова', dialplans_path, {:class => "btn btn-link"} %>
			</li>
		    <% end %>	    

                  </ul>
                </div>

                <%= link_to "Выход", logout_path, method: :delete %>
  </section>

  <% end %>
<!--
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Автообзвон", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
    	    <li>
    		<%= link_to "Добавить телефоны", new_outgoing_path %>
    	    </li>
    	    <li>
    		<%= link_to "Исходящие", outgoings_path %>
    	    </li>
<li>
	<%= link_to "Ответы", answers_path %>
</li>

	    <li>
		<%= link_to "Выгрузка", cdr_index_path %>"
	    </li>
	    
	    <li>
		<%= link_to "Настройки", edit_setting_path(Setting.first) %>
	    </li>
	    
	    <li>
	       <%= link_to "Регистрация", register_path %>
	    </li>
            <li>
               <%= link_to "Рабочие каналы", tranks_path %>
		</li>
              <li>                
                <%= link_to "Выход", logout_path, method: :delete %>
              </li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
-->
