<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>
  </head>
  <body>


    <div class="container">

        <div class="columns">

            <div class="column col-12">
      <%= render 'layouts/header' %>

            </div>



      <%= yield %>
    </div>

    
    <%= render 'layouts/footer' %>
  </body>
</html>
